
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


change code ....
git checkout -b pw-dev
git pull origin main
git add .
git commit -m 'HTML reporter config changes'
git push origin pw-dev